.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-upper { text-transform: uppercase; }
.stpage-heading { padding: 10px 36px 41px 36px; background: url("../../images/stpage-heading.png") no-repeat 100% 100%; margin-left:2px; }
.stpage-heading h1 { padding: 0; margin: 0; font-size: 22px; color: #64839b; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; }
.stpage-heading h1 span { color: #ae5640; }
.st-page-in { padding: 36px; margin-left:2px; }
.stpage-h5 { font-size: 15px; font-weight: bold; margin-bottom: 16px; }
.stpage-text { margin-bottom: 36px; font-size: 15px; }
.backlink { float: right; font-size: 17px; font-weight: bold; color: #525252; text-decoration: none; margin-top: 10px; opacity: .75; -webkit-transition: all .15s ease-in-out; transition: all .15s ease-in-out; }
.backlink:hover { opacity: 1; }
.icon-back { background: url("../../images/back.png") no-repeat; width: 18px; height: 18px; display: inline-block; vertical-align: middle; position: relative; top: -1px; }
.heading-links { float: right; margin-top: -2px; }
.heading-links a { text-decoration: none; display: inline-block; margin: 0 4px; vertical-align: middle; text-transform: uppercase; font-weight: bold; color: #343434; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; }
.heading-links a:hover { color: #c57754; text-decoration: underline; }
.rst, .rst li { margin: 0; padding: 0; list-style: none; }
.st-page-in, .st-page-in * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.st-page-in:before, .st-page-in:after, .st-page-in *:before, .st-page-in *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/*server*/
.server-label { background: url("../../images/server-label.jpg") no-repeat; width: 414px; height: 134px; margin: 0 auto 36px; }
.server-label h3 { width: 339px; height: 74px; text-indent: -9999px; margin: 18px 0 0 37px; float: left; }
.server-label .sandbox { background: url("../../images/sandbox.jpg") no-repeat; }
.server-label .divinerpg { background: url("../../images/divinerpg.jpg") no-repeat; }
.server-label .ivent { background: url("../../images/ivent.jpg") no-repeat; }
.server-label .magic { background: url("../../images/magic.jpg") no-repeat; }
.server-label .modern { background: url("../../images/modern.jpg") no-repeat; }
.server-label .mcmmo { background: url("../../images/mcmmo.jpg") no-repeat; }
.server-label .pixelmon { background: url("../../images/pixelmon.jpg") no-repeat; }
.list-mods { width: 655px; height: 51px; background: url("../../images/list-mods.jpg") no-repeat 50% 0; }
.list-mods:hover { background-position: 0 -51px; }
.list-mods a { display: block; color: #f4e4a0; font-weight: bold; font-size: 14px; text-align: center; line-height: 39px; text-shadow: 0 1px 1px rgba(83,59,51,.75); text-decoration: none; }
/*shop*/
.shop-list-box { display: table; width: 100%; font-family: "Open Sans Condensed", sans-serif; font-weight: 300; font-size: 15px; }
.shop-list { display: table-row; }
.shop-list.disabled { opacity: .5; }
.shop-list:nth-child(odd) { background-color: rgba(228,217,192,.45); }
.shop-list .list-item { padding: 12px; display: table-cell; border-bottom: 2px solid #c6bfac; position: relative; }
.shop-list .list-item:first-child { width: 60px; }
.shop-list .list-item img { margin: 0; padding: 0; vertical-align: middle; }
.shop-list .fullbtn { background: url("../../images/fullbtn.png") no-repeat; width: 117px; height: 40px; line-height: 30px; text-shadow: 0 1px 1px rgba(83,59,51,.75); color: #f4e4a0; font-weight: bold; font-size: 14px; text-align: center; display: inline-block; text-decoration: none; font-family: "Open Sans Condensed", sans-serif; margin-bottom: -8px; border: none; cursor: pointer; }
.shop-list button.fullbtn { padding-bottom:6px; }
.shop-list .fullbtn[disabled] { opacity: .5; cursor: not-allowed; }
.shop-list.disabled, .shop-list.disabled a { cursor: not-allowed; }
.item-server { color: #ae6f40; }
.item-count { color: #76a37d; font-weight: bold; }
.item-title-drop { color: inherit; text-decoration: none; font-size: 16px; }
.icon-caret { background: url("../../images/caret.png") no-repeat; width: 11px; height: 11px; display: inline-block; vertical-align: middle; position: relative; top: -1px; }
.shop-server a { display: block; width: 661px; height: 85px; background: url("../../images/shop-server.png") no-repeat; line-height: 62px; font-size: 24px; text-transform: uppercase; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; color: #f4e4a0; text-shadow: 0 1px 1px rgba(83,59,51,.75); text-decoration: none; text-align: center; position: relative; }
.alert { padding: 20px 25px; background-color: rgba(78,165,139,.29); color: #537c6b; text-align: center; position: relative; margin-top: 25px; }
.alert hr { border-color: #537c6b; border-bottom: none; box-shadow: none; }
.alert .close { cursor: pointer; position: absolute; top: 0px; right: 6px; font-size: 30px; border: none; background: none; color: #d05540; font-family: Arial, sans-serif; line-height: 1; padding: 0; }
.shop-server a:after { width: 655px; height: 62px; background: rgba(0,0,0,.25); position: absolute; top: 0; left: 3px; content: ""; border-radius: 8px; -webkit-transition: all .15s ease-in-out; transition: all .15s ease-in-out; opacity: 0; }
.shop-server a:hover:after { opacity: 1; }
.shop-server a span { position: relative; z-index: 2; }
.alert-error { padding: 20px 25px; background-color: rgba(179,86,52,.29); color: #c7643b; text-align: center; position: relative; margin-top: 25px; }
.icon-cart, .icon-list, .icon-search { width: 41px; height: 48px; display: inline-block; vertical-align: middle; position: relative; top: 3px; }
.icon-cart { background: url("../../images/icon-cart.png") no-repeat; }
.icon-list { background: url("../../images/icon-list.png") no-repeat; }
.icon-search { background: url("../../images/icon-search.png") no-repeat; }

.cart-table { width: 100%; color: #5a5652; font-family: "Open Sans Condensed", sans-serif; }
.cart-table td { vertical-align: middle; padding: 5px 0px; }
.cart-table td[rowspan] { background: rgba(255,250,223,.49); text-align: center; width: 60px; }
.cart-table .one { background: rgba(202,172,119,.1); }
.cart-table .two { background: rgba(202,172,119,.26); text-align: center; }
.cart-table tr:nth-child(even) .one { background: rgba(202,172,119,.26); }
.cart-table tr:nth-child(even) .two { background: rgba(202,172,119,.41); }


.pokemon-table { width: 100%; color: #5a5652;  }
.pokemon-table td { vertical-align: middle; padding: 5px 10px; }
.pokemon-table .one { background: rgba(202,172,119,.1); }
.pokemon-table .two { background: rgba(202,172,119,.26); }
.pokemon-table tr:nth-child(even) .one { background: rgba(202,172,119,.26); }
.pokemon-table tr:nth-child(even) .two { background: rgba(202,172,119,.41); }
.pokemon-table input[type="text"],
.pokemon-table input[type="date"],
.pokemon-table input[type="time"],
.pokemon-table select{ background: #fff; margin:0 2px; border: none;  padding: 2px 4px; text-align: left; -webkit-box-shadow: inset 4px 4px 4px rgba(239,222,173,.75); box-shadow: inset 4px 4px 4px rgba(239,222,173,.75); }
.pokemon-table .bbcodes { height:24px; margin:0 2px; }


.phone-field{ width:100%; background: #fff; margin:5px 0 0; border: none;  padding: 5px 10px !important; text-align: left; -webkit-box-shadow: inset 4px 4px 4px rgba(239,222,173,.75); box-shadow: inset 4px 4px 4px rgba(239,222,173,.75); -webkit-box-sizing:border-box; box-sizing:border-box; }



.history-table { width: 100%; color: #5a5652; font-family: "Open Sans Condensed", sans-serif; }
.history-table td { vertical-align: middle; padding: 5px 10px; }
.history-table tr:nth-child(even) td { background: rgba(202,172,119,.26); }
.history-table tr:nth-child(odd) td { background: rgba(202,172,119,.41); }


.table-bordered { width: 100%; color: #5a5652; font-family: "Open Sans Condensed", sans-serif; }
.table-bordered td,
.table-bordered th { vertical-align: middle; padding: 5px 10px; background: rgba(202,172,119,.26); }
.table-bordered tr:nth-child(odd) { background: rgba(202,172,119,.28); }
.table-bordered td + td,
.table-bordered th + th { text-align:center; }
.table-bordered tr:first-child td,
.table-bordered tr:last-child td,
.table-bordered tr th { background: rgba(202,172,119,.65); }








.cart-table input { background: url(../../img/input.png) no-repeat; border: none; width: 278px; height: 41px; text-align: center; padding: 2px 17px; text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
	color: #5d5850;
}

.cart-table input::-webkit-input-placeholder {color:#5d5850;}
.cart-table input::-moz-placeholder          {color:#5d5850;}/* Firefox 19+ */
.cart-table input:-moz-placeholder           {color:#5d5850;}/* Firefox 18- */
.cart-table input:-ms-input-placeholder      {color:#5d5850;}

.btn-decline, .btn-accept { height: 40px; width: 209px; text-align: center; line-height: normal; background: url("../../images/accept_decline.png") no-repeat; display: inline-block; vertical-align: middle; text-shadow: 0 1px 1px rgba(83,59,51,.75); color: #f4e4a0; font-weight: bold; border: none; text-decoration: none; line-height: 30px; cursor: pointer; font-size: 14px; }
.btn-accept { background-position: 0 -40px; }
button.btn-decline, button.btn-accept, input.btn-decline, input.btn-accept { padding-bottom: 10px; line-height: normal; }
input.btn-decline, input.btn-accept { margin-top: 2px; padding-bottom: 12px; }
.delete { color: #db6340; }
.icon-delete { background: url("../../images/icon-del.png") no-repeat; display: inline-block; vertical-align: middle; width: 12px; height: 12px; }
.uk-pagination { margin: 20px 0 0; padding: 0; text-align: center; }
.uk-pagination li { display: inline-block; margin: 0; padding: 0; list-style: none; }
.uk-pagination li a, .uk-pagination .uk-active span { display: block; padding: 2px 7px; color: #595957; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; font-size: 18px; text-decoration: none; }
.uk-pagination .uk-active span { background: #6891b1; color: #fff; }
.uk-pagination li a:hover { background: #bb7151; color: #fff; }

.shop-sbtn { border: none; padding: 0; background: none; cursor: pointer; background: url("../../images/icon-search.png") no-repeat; width: 41px; height: 48px; display: inline-block; vertical-align: middle; position: relative; top: 5px; font-size: 0; }
.shop-sfield { border-top: 2px solid #ddd3b3; border-left: 2px solid #f2efd9; border-right: 2px solid #f2efd9; border-bottom: 2px solid #fdfbe3; padding: 6px 15px; height: 38px; color: #5d5850; width: 230px; background: -webkit-linear-gradient(top, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); background: -o-linear-gradient(top, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); background: -ms-linear-gradient(top, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); background: linear-gradient(to bottom, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); }
 .shop-sfield::-moz-placeholder {
 color:#5d5850;
 opacity: 1;
}
.shop-sfield:-ms-input-placeholder {
 color:#5d5850;
}
.shop-sfield::-webkit-input-placeholder {
 color:#5d5850;
}
.search_area { background: rgba(202,172,119,.26); padding: 20px 20px 16px; }
/*lk*/
.icon-plus { width: 41px; height: 48px; display: inline-block; vertical-align: middle; position: relative; top: 3px; background: url("../../images/icon-plus.png") no-repeat; }

.lk-tabs { display: block; text-align: center; margin-top: -36px; font-size: 0; }
.lk-tabs li { display: inline-block; border-left: 1px solid #d6c7a5; }
.lk-tabs li:last-child { border-right: 1px solid #d6c7a5; }
.lk-tabs li a { padding: 21px 10px 25px; border-top: 4px solid transparent; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; text-transform: uppercase; display: block; color: #79756c; text-decoration: none; font-size: 15px; }
.lk-tabs li a:hover { color: #c4663c; }
.lk-tabs .active a { -webkit-box-shadow: inset 0 -1px 1px rgba(91,64,50,.35); box-shadow: inset 0 -1px 1px rgba(91,64,50,.35); border-top-color: #5b4032; background-color: rgba(207,156,75,.31); color: #c4663c; }
.lk-content { width: 690px; margin: -10px -18px 0; }
.lk-content-top { background: url("../../images/lk-content-top.png") no-repeat; height: 94px; }
.lk-content-in { background: url("../../images/lk-content-in.png") repeat-y; padding: 0 40px; }
.lk-content-btm { background: url("../../images/lk-content-btm.png") no-repeat; height: 50px; }
.lk { position: relative; top: -15px; font-size:14px; }
.lk-btn { display: inline-block; background: url("../../images/status-btn.png") no-repeat; width: 291px; height: 48px; text-transform: uppercase; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; margin: 20px 0 0; text-shadow: 0 1px 1px rgba(83,59,51,.75); color: #f4e4a0; text-decoration: none; line-height: 40px; padding-bottom: 5px; text-align: center; font-size: 15px; border: none; cursor:pointer; }
.lk-btn:hover { background-position: 0 -48px; color: #f4e4a0; }
input.lk-btn { padding-bottom:10px; cursor:pointer; line-height:1; }
.text-orange { color: #ad6146; }
.text-green { color: #76a07b; }
.text-blue { color: #507796; }
.text-red { color: #ec4b43; }
.my-skin { width:260px; text-align: center; }
.my-skin img { max-width: 130px; display:inline-block; }
.my-skin2 { width:185px; text-align: center; }
.my-skin2 img { max-width: 90px; display:inline-block; }
.table { display: table; width: 100%; }
.table .col { display: table-cell; padding: 10px; vertical-align: top; }
.history { width: 100%; font-family: "Open Sans Condensed", sans-serif; font-size: 15px; }
.history tr th { padding: 12px 15px; background: #866745; text-align: left; text-transform: uppercase; color: #fff3cd; font-size: 16px; }
.history tr td { padding: 10px 15px; }
.history tr:nth-child(even) { background-color: rgba(129,84,48,.21); }
.history tr th:nth-child(2) { background: #c0a77d; }
.history tr td:nth-child(2) { background: rgba(192,167,124,.21); }
.history tr th + th, .history tr td + td { text-align: center; }
.premium { width: 197px; height: 250px; background: url("../../images/premium.png") no-repeat; display: inline-block; margin: 20px 0 -20px; position: relative; }
.premium-title { height: 50px; margin-top: 11px; }
.premium-1 { background: url("../../images/prem_1.png") no-repeat 50% 0; }
.premium-2 { background: url("../../images/prem_2.png") no-repeat 50% 0; }
.premium-3 { background: url("../../images/prem_3.png") no-repeat 50% 0; }
.premium-4 { background: url("../../images/prem_4.png") no-repeat 50% 0; }
.premium-status { background: url("../../images/premum-status.png") no-repeat; width: 201px; height: 39px; margin: 0 auto; line-height: 30px; text-shadow: 0 1px 1px rgba(83,59,51,.75); color: #f4e4a0; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; font-size: 15px; margin-bottom: -6px; }
.premium-desc { color: #fff7e2; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; padding: 10px 30px; text-shadow: 0 1px 1px rgba(83,59,51,.75); line-height: 1; }
.premium-desc b,
.premium-desc br { display:none; }
.premium-price { padding: 3px 10px; display: inline-block; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; font-size: 16px; color: #fff; background: #e87d4d; }
.icon-money { width: 17px; height: 17px; background: url("../../images/icon-money.png") no-repeat; display: inline-block; vertical-align: middle; margin-right: 2px; }
.premium-full { background: url("../../images/premium-full.png") no-repeat; width: 140px; height: 73px; bottom: -20px; position: absolute; display: block; left: 50%; margin-left: -72px; }
.premium-full:hover { background-position: 0 -73px; }
.table-form { width: 100%; font-size: 15px; }
.table-form td { padding: 2px 10px; font-family: "Open Sans Condensed", sans-serif; color: #64564d; }
.table-form td + td { text-align: right; }
.table-form textarea { width: 100%; background: rgba(255,255,255,.70); border: none; padding: 15px 15px 0; height: auto; font-size: 15px; -webkit-box-shadow: 0 1px 5px rgba(129,84,48,.21); box-shadow: 0 1px 5px rgba(129,84,48,.21); }
.table-form input{ border-top: 2px solid #e3dcaa; border-left: 2px solid #f5efba; border-right: 2px solid #f5efba; border-bottom: 2px solid #fefac3; padding: 6px 15px; height: 38px; color: #5d5850; width: 230px; background: -webkit-linear-gradient(top, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); background: -o-linear-gradient(top, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); background: -ms-linear-gradient(top, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); background: linear-gradient(to bottom, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); font-family: "Open Sans Condensed", sans-serif;}
 .table-form input::-moz-placeholder {
 color:#5d5850;
 opacity: 1;
}
.table-form input:-ms-input-placeholder {
 color:#5d5850;
}
.table-form input::-webkit-input-placeholder {
 color:#5d5850;
}

.special_prefix_change {width: 96%; background: rgba(255,255,255,.70); border: none; padding: 15px 15px; height: auto; font-size: 15px; -webkit-box-shadow: 0 1px 5px rgba(129,84,48,.21); box-shadow: 0 1px 5px rgba(129,84,48,.21);}

input[name="aisdj3"] {border-top: 2px solid #e3dcaa; border-left: 2px solid #f5efba; border-right: 2px solid #f5efba; border-bottom: 2px solid #fefac3; background: -webkit-linear-gradient(top, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); background: -o-linear-gradient(top, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); background: -ms-linear-gradient(top, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); background: linear-gradient(to bottom, rgba(175,152,108,1) 0%, rgba(185,163,116,1) 9%, rgba(199,176,124,1) 24%, rgba(211,190,135,1) 58%, rgba(220,201,146,1) 76%, rgba(222,205,150,1) 91%, rgba(215,198,145,1) 100%); font-family: "Open Sans Condensed", sans-serif; }


/*static*/
.spoiler-heading { margin:5px -15px; padding: 10px 15px;  }
.spoiler-heading.active { background: rgba(202,172,119,.28); }
.spoiler-heading .icon-caret { margin-top:7px; }
.spoiler-heading.active .icon-caret { background-position: 0 -11px;}


.wide-btn { position: relative; margin-bottom: -17px; width: 661px; height: 90px; background: url(../../img/wide-btn.png) no-repeat; display: block; color: #ffe566; font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; font-size: 21px; text-align: center; text-transform: uppercase; line-height: 62px; text-decoration: none; }
/*.wide-btn:hover { background-position: 0 -51px; }*/
.wide-btn b:after {
	content: '';
	position: absolute;
    top: 23px; margin-left: 14px;
	background: url(../../img/wide-btn1.png) no-repeat;
	width: 11px;
	height: 16px;
}

.serveroff { width:17px; height:17px; display:inline-block; background: url("../../images/serveroff.png") no-repeat; position:relative; vertical-align:middle; top:-2px; left:1px;}





.banlist1 {
	display: block;
	height: 61px;
	background: #885c3b;
	line-height: 62px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	color: #fef4b5;
	font-weight: bold;
}
    
.banlist1 li {
	width: 131px;
	height: 61px;
	display: block;
	float: left;
	text-align: center;
    border-right: 1px solid #795132;
}   

.banlist1 li:last-child { border: none; }

.banlist1 li:nth-child(2n) {
	background: #966740;
}



.banlist2 {
	display: block;
	height: 61px;
	background: rgba(175, 124, 51, 0.22);
	line-height: 62px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 15px;
	color: #3b3b3b;
    border-bottom: 2px solid rgba(136, 92, 59, 0.24);
}

.banlist2 li {
	width: 131px;
	height: 61px;
	display: block;
	float: left;
	text-align: center;
	border-right: 1px solid #d8caaa;
}

.banlist2 li:last-child { border: none; }

.banlist2 li a { color: #688390; text-decoration: none; }
.banlist2 li a b { color: #af6636; }



.tiketform { background: rgba(202,172,119,.45); padding:15px; display:block; } 
.tiketform input[type='text'],
.tiketform select,
.tiketform textarea { background: #fff;border: none;  padding: 5px 12px; text-align: left; -webkit-box-shadow: inset 4px 4px 4px rgba(239,222,173,.75); box-shadow: inset 4px 4px 4px rgba(239,222,173,.75); -webkit-box-sizing:border-box; box-sizing:border-box; font-family: "Open Sans Condensed", sans-serif; }
.tiketform input,
.tiketform select,
.tiketform textarea { margin:2px 0; }
.tiketform select { padding-left:8px; padding-right:8px; }


.tiketform *::-webkit-input-placeholder {color:#373737; opacity:1;}
.tiketform *::-moz-placeholder          {color:#373737; opacity:1;}
.tiketform *:-moz-placeholder           {color:#373737; opacity:1;}
.tiketform *:-ms-input-placeholder      {color:#373737; opacity:1;}


.tiketform2 textarea { background: #fff;border: none;  padding: 5px 12px; text-align: left; -webkit-box-shadow: inset 0 1px 1px rgba(239,222,173,.75); box-shadow: inset 0 1px 1px rgba(239,222,173,.75); -webkit-box-sizing:border-box; box-sizing:border-box; font-family: "Open Sans Condensed", sans-serif; border:1px solid #e1dac8; }


.tiket-table { width: 100%; color: #5a5652; font-family: "Open Sans Condensed", sans-serif; border-collapse:collapse; }
.tiket-table td { vertical-align: middle; padding: 8px 10px; text-transform:uppercase; }
.tiket-table tr:nth-child(even) td { background: rgba(202,172,119,.41); }
.tiket-table .thead { background:#866745; text-align:left; color:#f8eac0; padding: 10px; text-transform:uppercase; }


.icon-del { width: 41px; height: 48px; display: inline-block; vertical-align: middle; position: relative; top: 3px; background: url("../../images/icon-del2.png") no-repeat;  }


.tiket-comment { padding:12px 0; border-bottom: 2px solid #c6bfac; margin-left:20px; }
.tiket-comment-header { min-height:50px; padding-left:62px;  }
.tiket-comment-avatar { float:left; margin-left:-62px; }
.tiket-comment-title { font-size:16px; margin-bottom:5px; }
.tiket-comment-title a { text-decoration: none; }
.tiket-comment:first-child { margin-left:0; }


.status1,
.status2,
.status3 { float:left; position:relative; top:-5px; left:-5px; width:23px; height:23px; display:block; z-index:100;  }

.status1 { background: url("../../images/status.png") no-repeat; }
.status2 { background: url("../../images/status2.png") no-repeat; }
.status3 { background: url("../../images/status3.png") no-repeat; }




.pagin-banlist {  margin: 20px 0 0; padding: 0; text-align: center; }
.pagin-banlist > a, .pagin-banlist > span { display: inline-block; padding: 2px 7px; color: #595957; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; font-size: 18px; text-decoration: none; }
.pagin-banlist > span { background: #6891b1; color: #fff;}
.pagin-banlist > a:hover { background: #bb7151; color: #fff;}


.icon-settings { width: 41px; height: 48px; display: inline-block; vertical-align: middle; position: relative; top: 3px; background: url("../../images/icon-settings.png") no-repeat; }


.user-table { width:100%; border-collapse:collapse; }
.user-table th,
.user-table td { padding: 8px 12px;   }
.user-table td { background: rgba(202,172,119,.28); border-bottom:2px solid rgba(202,172,119,.65); }
.user-table td + td { border-left:1px solid rgba(202,172,119,.65); }
.user-table th { padding:12px; background:#866745; color:#fff3cd; font-size:1.1em; font-family: "Open Sans Condensed", sans-serif; font-weight: 700;  }
.user-table .last td { border-bottom: none; }

.table-user-edit td { padding:3px; }
.table-user-edit input[type='text'],
.table-user-edit input[type='password'],
.table-user-edit input[type='email'],
.table-user-edit select,
.table-user-edit textarea { background: #fff;border: none;  padding: 5px 12px; text-align: left; -webkit-box-shadow: inset 4px 4px 4px rgba(239,222,173,.75); box-shadow: inset 4px 4px 4px rgba(239,222,173,.75); -webkit-box-sizing:border-box; box-sizing:border-box; font-family: "Open Sans Condensed", sans-serif; min-width:250px; }


.user-btns li .bbcodes { background:#64839b; color:#eff7fc; }
.user-btns li .bbcodes:hover { background:#83a5c0; }

.cart-table .cart-table-field { background:#fff; border: none; width:30px; text-align:center; padding:2px; -webkit-box-shadow: inset 4px 4px 4px rgba(239,222,173,.75); box-shadow: inset 4px 4px 4px rgba(239,222,173,.75); height:28px; }