Options All -Indexes
Order Deny,Allow
Allow from all
<FilesMatch ".(htaccess|tpl|png|jpg|jpeg|css|gif)$">
Order Allow,Deny
Deny from all
</FilesMatch>

<Files auth-button.png> 
Deny from all 
</Files>

<Files auth-input.png> 
Deny from all 
</Files>

<Files bg-1.jpg> 
Deny from all 
</Files>

<Files bg-2.jpg> 
Deny from all 
</Files>

<Files bg-3.jpg> 
Deny from all 
</Files>

<Files block-top.png> 
Deny from all 
</Files>

<Files header-button.png> 
Deny from all 
</Files>

<Files header-nav.png> 
Deny from all 
</Files>

<Files images.jpg> 
Deny from all 
</Files>

<Files mon.png> 
Deny from all 
</Files>

<Files mon-info.png> 
Deny from all 
</Files>

<Files paginator.png> 
Deny from all 
</Files>

<Files sliders.png> 
Deny from all 
</Files>

<Files slider-next.png> 
Deny from all 
</Files>

<Files slider-prev.png> 
Deny from all 
</Files>

<Files viewn-link.png> 
Deny from all 
</Files>

<Files viewn-panel.png> 
Deny from all 
</Files>

<Files viewn-screen.png> 
Deny from all 
</Files>

<Files viewn-top.png> 
Deny from all 
</Files>